{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto login form-page">
        <h1 class="t-large">Forgot Password</h1>
        <hr>
        {% include 'partials/inline_message.html' with messages=messages filter='password' %}
        <form class="form-vertical form" action="." method="POST">
          {% csrf_token %}
          <fieldset>
            <div class="well">
              {{ form.non_field_errors }}
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" placeholder="Enter email">
                {{ form.email.errors }}
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </fieldset>
        </form>
        <div class="info t-small">
          <p>Don't have an account? <a href="{% url registration_register %}">Register now</a></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
